$font: 'Roboto', sans-serif;
$white: #fff;
$grey: #cecdcd;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

body {
    font-family: $font;
    background-image: url('../img/fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $grey;
}
section { 
    font-size: 16px;
    padding: 2rem;
    .container {
        width: 50%;
        max-width: 1200px;
        margin: auto;
        text-align: center;
    }
}
.btn {
    width: 50%;
    padding: 1em;
    border: none;
    border-radius: 20px;
    margin: auto;
    background-color: $white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #141414;
    
    &:hover {
        background-color: #b44d11;
        color: $white;
        transform: scale(0.95);
    }
}
.container {
    font-size: 16px;

    img {
        position: relative;
        left: -0em;
    }

    form {
        font-size: 16px;

        margin: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }

    .input {
        width: 80%;
        margin: auto;
        padding: 1em;
        border: none;
        border-radius: 10px;
        background-color: $grey;
    }

    .input::placeholder {
        color: #141414;
    }

    .login_btn {
        margin-bottom: 4rem;
    }

    p {
        color: $white;
    }
}

.block_registrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    .registrarse_btn {
        width: 25%;
    }
}



